.box {
  margin: auto;
  padding: 30px;
  height: 200px;
  margin-top: 10px;
}
.big-box {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.text-right {
  display: none;
  text-align: right;
  line-height: 1.5;
}
.progress-bar-orange {
  position: absolute;
  width: 0%;
  height: 1rem;
  border-radius: 0.25rem;
  background-color: #ffa600;
  transition: all 1s;
}
.progress-bar {
  position: relative;
  display: none;
  height: 1rem;
  border-radius: 0.25rem;
  background-color: #e9ecef;
}

.main_box {
  background-color: lightgrey;
  @extend .box;
}
.title {
  font-size: 32px;
  font-weight: bold;
}
.start_button {
  background-color: orange;
  width: 100px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  border-style: none;
  animation-name: 흔들흔들;
  animation-duration: 1s;
}
.start_button:hover {
  background-color: #ffc107;
  color: white;
}
@keyframes 흔들흔들 {
  0% {
    transform: scale(1.2);
  }
  10% {
    rotate: (-8deg);
  }
  20% {
    rotate: (-8deg);
  }
  30% {
    rotate: (8deg);
  }
  40% {
    rotate: (-8deg);
  }
  50% {
    rotate: (8deg);
  }
  60% {
    rotate: (-8deg);
  }
  70% {
    rotate: (8deg);
  }
  100% {
    rotate: (-8deg);
  }
}
.start_box {
  background-color: lightpink;
  @extend .box;
}
